body   { 
	background-color: #8345C4;
	font-family:  Arial, Helvetica, Geneva, SunSans-Regular, sans-serif; 
	font-size: 10pt;
	color: #000000;
}

.news_table {
	margin-left:auto; 
	margin-right:auto;
	border: 1px solid black;
	width: 650px;
	border-collapse: collapse;
	border-radius: 25px;
}


.news_tr1 {
	border-style: none;
	border-width: 0px;
	padding: 5px;
	background-color: #DDDDDD;


}

.news_tr2 {
	border-style: none;
	border-width: 0px;
	padding: 5px;
	background-color: #CCCCCC;

}

.news_td_date {
	text-align: left;
	border-style: none;
	border-width: 0px;
	width: 170px;
	padding: 5px;

}
.news_td_title {
	text-align: center;
	border-style: none;
	border-width: 0px;
	width: 430px;
	padding: 5px;

}
.news_td {

	border-style: none;
	border-width: 0px;

	padding: 5px;

}

.news_link {

	color: #6628A4;
	text-decoration: none;
	font-weight: bold;
	font-size: 14pt;

}

.news_date {
	text-align: center;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	font-size: 14pt;

}



.chip_table {
	display: table;
	margin-left:auto; 
	margin-right:auto;
	border: 1px solid black;
	width: 700px;
	border-collapse: collapse;
	border-radius: 10px;
	column-count: 2;
	margin-bottom: 10px;
}


.chip_heading {
	display: table-row;
	border-style: none;
	border-width: 0px;
	background-color: #DDDDDD;
	column-span: all;
	color: #000000;
	width: 680px;
	border: 1px solid black;

}
.chip_heading_text {
	text-decoration: none;
	font-weight: bold;
	font-size: 16pt;
	text-align: left;
	padding: 3px;
}

.chip_bulk {
	column-span: all;
	display: table;
	border-style: none;
	border-width: 0px;
	padding: 5px;
	background-color: #CCCCCC;
	width: 700px;

}

.chip_image {
	display: table-cell;
	border-style: none;
	border-width: 0px;
	padding: 5px;
	width: 350px;
	vertical-align: middle;
	text-align: center;
	border-right: 1px solid black;
	background-color: #EEEEEE;

}

.chip_info {

	display: table-cell;


	width: 350px;
}

.chip_cell1 {

	display: table;
	text-align: left;
	border-style: none;
	border-width: 0px;
	background-color: #EEEEEE;
	column-span: all;
	width: 350px;


}
.chip_cell2 {
	display: table;
	text-align: left;
	border-style: none;
	border-width: 0px;
	background-color: #DDDDDD;
	column-span: all;

	width: 350px;

}




.chip_text {
	padding:4px;
	color: #000000;
	text-decoration: none;
	font-size: 10pt;
}

.breakword {
	display: inline-block;
	word-break:  break-all;

}

.screen_image {
	display: table-cell;
	border-style: none;
	border-width: 0px;
	padding: 5px;
	width: 280px;
	vertical-align: middle;
	text-align: center;
	border-right: 1px solid black;
	background-color: #EEEEEE;

}


.screen_cell1 {

	display: table;
	text-align: left;
	border-style: none;
	border-width: 0px;
	background-color: #EEEEEE;
	column-span: all;
	width: 420px;


}
.screen_cell2 {
	display: table;
	text-align: left;

	border-style: none;
	border-width: 0px;
	background-color: #DDDDDD;
	column-span: all;

	width: 420px;

}

td.tabletext   {
border: none;
	font-family:  Arial, Helvetica, Geneva, SunSans-Regular, sans-serif;
	font-size: 10pt;
	color: #000000;
}

a:link {
	color: #6628A4;
	text-decoration: none;
	font-weight: bold;
}

a:visited {
	   color: #6628A4;
	   text-decoration: none;
	   border-style: none;
	   font-weight: bold;
}

a:hover {
	color: #6628A4;
	text-decoration: none;
	font-weight: bold;
}

a:active {
	color: #6628A4;
	text-decoration: none;
	font-weight: bold;
}

a img {
	border: none;
}


.topbar {
	
	top: 5px;
	width: 100%;
	background-color: #000000;
	vertical-align = bottom; 

}


.sidebar {
	border-style: none;
	border-width: 0px;
	vertical-align: top;
	background-color: #000000;
	width: 170px;
	padding: 3px;

}

.menuitem {
		 border-collapse: collapse;
	border-style: none;
	border-width: 0px;
	vertical-align: top;
	background-color: #000000;
	width: 280px;
	padding: 3px;

}

.menuitem2 {
		 border-collapse: collapse;
	border-style: none;
	border-width: 0px;
	vertical-align: top;
	background-color: #000000;

	padding: 3px;

}

.menuitem3 {
		 border-collapse: collapse;
	border-style: none;
	border-width: 0px;
	vertical-align: top;
	background-color: #444444;
    color: #000000;
	padding: 3px;
		text-align: center;

}



.navbar {
	 border-collapse: collapse;
}

ul.navbar {

	List-style-type: none;
	padding: 0;
	margin: 0;

}

 li { padding-bottom: 4px } 

li.sidelist {

	list-style-position: outside;
	padding: 4px;
}

.contenttable{
	border: 1px solid black;
		 border-collapse: collapse;
    margin-left:auto; 
    margin-right:auto;
//	position: absolute;
	top: 6px;
	left: 6px;
	width: 900px;
	
}


.contentbar {

	vertical-align: top;	
	background-color: #E0CBF5;	
	width: 730px;
	overflow: visible;
	padding: 5px;
	text-align: justify;
	font-family:  Arial, Helvetica, Geneva, SunSans-Regular, sans-serif; 
	font-size: 10pt;
	color: #000000;
}

.bottombar{

	border-width: 0px;
	vertical-align: top;
	background-color: #444444;
	position: float;
	width: 100%;
	font-family:  Arial, Helvetica, Geneva, SunSans-Regular, sans-serif; 
	font-size: 10pt;
	color: #FFFFFF;
	
}






.news {
	margin-top: 0px;
	font-weight: bold;
	font-size: 28pt;
	text-align: center;
	margin-bottom: -5px;

}

.news:before { 
	display: marker;
	content: url("icon/SMW-Mario.gif");
	padding: 10px;
}

.news:after {
	display: marker;
	content: url("icon/SMW-Mario.gif");
	padding: 10px;
}

.posting {

	font-size: 8pt;
	font-family:  Arial, Helvetica, Geneva, SunSans-Regular, sans-serif;
	font-style: italic;
	color: #000000;
}

.logo {

	text-align: center;
}

.infoleft {

	width: 90px;
	padding-right: 5px;
	padding-top: 2px;
	vertical-align: text-top;



}

.inforight {

	width: 210px;
	padding-right: 5px;
	padding-top: 2px;
	vertical-align: text-top;

}

.infoleft2 {

	width: 150px;
	padding-right: 5px;
	padding-top: 2px;
	vertical-align: text-top;
	text-align: left;


}

.inforight2 {

	width: 150px;
	padding-right: 5px;
	padding-top: 2px;
	vertical-align: text-top;
	text-align: left;

}

.row1 {

	background-color: #DDDDDD;
	vertical-align: top;
	text-align: left;
}

.row2 {

	background-color: #CCCCCC;
	vertical-align: top;
	text-align: left;

}

caption {

	font-weight: bold;
	text-align: left;
	font-size: 12pt;

}

blockquote {
	background-color:#ffffff; 
	padding: 1.5em 10px;
	margin: 1.5em 10px;
}


.infotable {
    margin-left:auto; 
    margin-right:auto;
	background-color: #EEEEEE;
	font-size: 8pt;

}


.infotable2 {
    margin-left:auto; 
    margin-right:auto;
	background-color: #EEEEEE;
	font-size: 10pt;

}

.name {

	font-weight: bold;
	font-size: 16pt;
}

pre {

	font-family: Courier, MS Courier New, Prestige, Everson Mono, monospace;
	font-size: 10pt;
		background-color:#ffffff; 

}
.post {
	font-family:  Arial, Helvetica, Geneva, SunSans-Regular, sans-serif; 
	font-size: 8pt;
	color: #000000;
}

.imager {
	
	float:right;
	padding:8px;
}

.imagel {
	
	float:left;
	padding:8px;
}

.imagecenter {
	
	margin-left: auto;
    margin-right: auto;
	padding:8px;
}

.imagec {

	text-align: center;
	padding: 8px;
}

.greybox {

	background-color: #DDDDDD;
	width: 10%;
}
.greybox2 {

	background-color: #DDDDDD;
	text-align: center;
	width: 256px;
}

.sidetextbig {
	font-family:  Arial, Helvetica, Geneva, SunSans-Regular, sans-serif; 
	color: #FFFFFF;
	font-size: 16pt;
	font-weight: bold;
}
.sidetext {
	font-family:  Arial, Helvetica, Geneva, SunSans-Regular, sans-serif; 
	color: #FFFFFF;
}



.sidetext a {
    color:#FFFFFF;
}

.yoshi {
    font-family:'smw2_yoshis_islandregular';
	font-size: 24pt;
	color: #FFFFFF;
	text-decoration: none ;
	line-height: 30px;
}



a.yoshi:link {
	font-family:'smw2_yoshis_islandregular';

	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal;


}

a.yoshi:visited {
	font-family:'smw2_yoshis_islandregular';

	color: #FFFFFF;
	   text-decoration: none;
	   border-style: none;
	font-weight: normal;


}

a.yoshi:hover {
	font-family:'smw2_yoshis_islandregular';
	color: #FFFF66;
	text-decoration: none;

	font-weight: normal;


}

a.yoshi:active {
	font-family:'smw2_yoshis_islandregular';

	text-decoration: none;
	color: #FFFF66;
	font-weight: normal;

}

@font-face {
    font-family: 'smw2_yoshis_islandregular';
    src: url('smw2-yoshis-island-webfont.woff2') format('woff2'),
         url('smw2-yoshis-island-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

a.yoshi2:link {

	color: #BBBBBB;

}

a.yoshi2:visited {
	color: #BBBBBB;

}

a.yoshi:hover {

	color: #FFFF66;



}

a.yoshi:active {

	color: #FFFF66;


}

.menutext {
	text-align: center;
	padding: 8px;
}

.headingtext {
	font-weight: bold;
	text-align: left;
	font-size: 24pt;
}
